rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /matches/{document=**} {
      allow read, write: if true;
    }
    match /teams/{document=**} {
      allow read, write: if true;
    }
    match /ads/{document=**} {
      allow read, write: if true;
    }
    match /settings/{document=**} {
      allow read, write: if true;
    }
    match /tickets/{document=**} {
      allow read, write: if true;
    }
  }
}
